body {
  width: 300px;
  text-align: center;
  font-family: sans-serif;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: calc(10px + 1vmin);
  padding: 0;
  margin: 0;
}

header.header {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #eee;
  font-size: 12px;
}

header.header img {
  margin-right: 5px;
}

main.main {
  padding: 20px 10px;
}

.tab {
  visibility: hidden;
  display: none;
  font-size: calc(7px + 1vmin);
}

.tab-active {
  visibility: visible;
  display: block;
}

.tab-list {
  min-height: 100px;
  padding: 0 20px;
}

.site-list {
  padding: 0;
  margin: 0;
  width: 100%;
  max-height: 150px;
  overflow-y: scroll;
}

.site-list-item {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.site-list-item .site-info {
  display: flex;
  align-items: center;
}

.site-domain {
  font-size: 14px;
}

.site-list-item img {
  margin-right: 10px;
}

.remove-site-btn {
  border-radius: 50%;
  border: none;
  background: transparent;
  cursor: pointer;
  padding: 4px;
  width: 28px;
  height: 28px;
}

.remove-site-btn svg {
  fill: #ff6666;
  pointer-events: none;
}

.hide-history-btn {
  border-radius: 20px;
  background-color: #69E781;
  color: #fff;
  padding: 10px 20px;
  width: 100%;
  max-width: 200px;
  border: 1px solid #eee;
  cursor: pointer;
  transition: background-color 0.3s;
}

.hide-history-btn:disabled {
  background-color: transparent;
  color: #000;
  border: 1px solid #eee;
  cursor: default;
  font-size: 12px;
}

.clear-storage-btn {
  border-radius: 20px;
  background-color: #e76969;
  color: #fff;
  padding: 10px 20px;
  width: 100%;
  max-width: 150px;
  border: 1px solid #1b0e3f;
  cursor: pointer;
}

footer.footer {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  border-top: 1px solid #eee;
  padding: 10px 0;
}

ul.footer-menu {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  padding: 0;
  margin: 0;
  -ms-align-items: center;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

li.footer-menu-item {
  list-style-type: none;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-flex-direction: column;
  flex-direction: column;
  -ms-align-items: center;
  align-items: center;
  cursor: pointer;
  font-size: 10px;
  width: 100%;
}

li.footer-menu-item svg {
  fill: #8C8C8C;
}

li.footer-menu-item .menu-item-badge {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: transparent;
  margin-bottom: 5px;
}

li.footer-menu-item .menu-item-badge img {
  width: 100%;
  height: auto;
}

li.footer-menu-item__active {
  color: #69E781;
}

li.footer-menu-item__active svg {
  fill: #69E781;
}